@charset "UTF-8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
header{
	background-color:#f1fcfe;
	padding:20px;
	margin-bottom:50px;
}
header > a{
	text-decoration:none;
	color:black;
	margin: 0 50px;
}
header .home_btn{
	font-weight:bolder;
}
header > a:hover{
	color: #007187;
	font-weight:bolder;
}
#loginBtn{
	float:right;
}
#regBtn{
	float:right;
}
#myPageBtn{
	float:right;
}
#logoutBtn{
	float:right;
}
.container{
	width:1200px;
	margin:0 auto;
}
.container .page_title{
	text-align:center;
	font-size:24px;
	margin:20px 0;
}
table{
	width:100%;
	border:1px solid #00a7c3;
	border-collapse:collapse;
}

th, td{
	border:1px solid #00a7c3;
	padding:10px;
}

table > a , .titleLink {
	text-decoration:none;
	color:black;
	margin: 0 50px;
	
}
tbody a:hover, .titleLink:hover{
	color: #007187;
	font-weight:bolder;
	cursor:pointer;
}

tbody tr:hover{
	background-color:#f1fcfe;
}
form{
	border: 1px solid lightgrey;
	padding:40px;
	width:500px;
	border-radius:3px;
	margin: 0 auto;
}
.regForm input, .loginForm input, .write input, .myinfoForm input ,.updateBoardForm input{
	width:100%;
	border: 0;
	border-radius: 15px;
	outline: none;
	background-color: #f7f7f7;
	padding:15px;
	margin:15px 0;
}
.write textarea, .updateBoardForm textarea{
	width:100%;
	border: 0;
	border-radius: 15px;
	outline: none;
	background-color: #f7f7f7;
	padding:15px;
	margin:15px 0;
}
.regForm #idCheck{
	cursor:pointer;
}
.regForm #demo{
	float:left;
}
.regForm a, .write a, .myinfoForm a, .updateBoardForm a{
	float:right;
	text-decoration:none;
	font-weight:bold;
	background-color:#007187;
	font-size:medium;
	font-weight: bolder;
	padding:7px;
	border-radius:3px;
	color:white;
}
.regForm a:hover, .write a:hover, .myinfoForm a:hover, .updateBoardForm a:hover  {
	background-color:#f1fcfe;
	font-size:medium;
	font-weight: bolder;
	color:black;
}
.btn{
	background-color:#007187 !important;
	font-size:medium;
	padding:7px;
	border-radius:3px !important; 
	text-decoration:none;
	font-weight: bolder;
	color:white;
}
.btn:hover{
	background-color:#f1fcfe !important;
	font-size:medium;
	font-weight: bolder;
	color:black;
}
#regFormBtn{
	margin-bottom:20px;
	text-decoration:none;
	padding:10px;
}

.mypage_container{
	width:500px;
	margin: 0 auto;
}
.mypage_container tr td:first-child{
	width:30%;
	font-weight:bold;
}
.myinfobtn{
	float:right;
	margin-bottom:10px;
}
.noDataBox{
	padding:40px;
	text-align:center;
	color:#666;
	border:1px solid lightgrey;
	border-radius:3px;
}
.subTitle{
	margin-top:20px;
	margin-bottom:10px;
	font-size:16px;
}

.commentBox{
	position:relative;
	width:100%;
	border: 1px solid lightgray;
	border-radius: 15px;
	padding:20px;
}
.commentBox .writer{
	font-weight:bold;
	margin-bottom:10px;
}

.commentBox .regTime{
	font-size:12px;
	text-align:right;
	color:#666;
}
.commentBox .upatebtn{
	font-size:14px;
	position:absolute;
	top:15px;
	right: 70px;	
	border:none;
	cursor:pointer;
}
.commentBox .deletebtn{
	font-size:14px;
	position:absolute;
	top:15px;
	right: 20px;	
}

.writerCommentBox{
	
}
.writerCommentBox .writer{
	font-weight:bold;
	margin-bottom:5px;
}
.writerCommentBox input{
	width:100%;
	border: 0;
	border-radius: 15px;
	outline: none;
	background-color: #f7f7f7;
	padding:15px;
	margin:5px 0;
}
.writerCommentBox .commentWriteBtn{
	width:auto;
	font-size:14px;
	float:right;
	padding:7px;
}
.regComment_form{
	border:none;
	padding:0;
	width:100%;
	border-radius:0px;
	margin: 0;
}
.comment_content_input{
	width:100%;
	padding:10px;
}
.boardTable .title{
	width:20%;	
}